.fiche-pj {
	width: 100%;
	background: #fcf8f2 url(https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Aria/images/background.jpg) no-repeat center top;
	background-size: cover;
	border: 1px solid #a69c73;
}